// Place all the styles related to the UserDestinationLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
    width: 100%;
}

#map {
  height:600px;
}

#newUserAnchor, #loginAnchor {
  display:inline;
}

.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
}
